<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns ="http://www.w3.org/ns/widgets"
		xmlns:gap="http.phonegap.com/ns/1.0"
		id ="com.phonegap.api-request"
		version ="1.0.0">
		<name>Coin Tap Game</name>
		<preferce name="Fullscreen" value="true" />
		<description>This Application is my first hybrid Application</description>
		<icon src ="images/logo.png" />
</widget>